# How to Find Missing Values?

For starters, we need to test if assigning the frequency lead to additional time periods for which data is Not Available.

Again, there’s a dedicated method: is_na() which we can call on the entire data frame. We will see either “True” or “False” for every entry in the set, depending on whether there is missing data for that period.

In [2]:
# lIBRARIES FOR NOTEBOOK
import pandas as pd
import os
# Read & Import CSV file as dataframe
df = pd.read_csv('Index2018.csv')
# Detect missing values. Return a boolean same-sized object indicating if the values are NA. 
# NA values, such as None or numpy.NaN, gets mapped to True values.
df.isna()

       date    spx    dax   ftse  nikkei
0     False  False  False  False   False
1     False  False  False  False   False
2     False  False  False  False   False
3     False  False  False  False   False
4     False  False  False  False   False
...     ...    ...    ...    ...     ...
6264  False  False  False  False   False
6265  False  False  False  False   False
6266  False  False  False  False   False
6267  False  False  False  False   False
6268  False  False  False  False   False

[6269 rows x 5 columns]

To clarify, “True” indicates there are missing values and “False” suggests there aren’t.

The bigger the dataset, the more difficult it becomes to spot missing entries. In binary “True” is equivalent to 1 and “False” is equivalent to 0. Therefore, we can add up the values in each column to determine the number of missing observations. For convenience, we can call the “sum()” method along with “is_na()”, like so:

For each attribute, this will determine the number of instances without available information.

After running the cell, we see there are exactly 8 missing values for each of the market indexes.

In [ ]:
df.isna().sum()

Recall that we had no missing values when we first examined the dataset.

In [4]:
df.isna().sum()

date      0
spx       0
dax       0
ftse      0
nikkei    0
dtype: int64

Therefore, setting the frequency to “business days” must have generated 8 dates, for which we have no data available.